%h4 Новости из Twitter
%div
  %a.twitter-timeline{ :href => "https://twitter.com/search?q=#deadlinecamp", "data-widget-id" => "352915126443200512" }
    Твиты о deadlinecamp
  :javascript
    !function(d,s,id) {
      var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
      if (!d.getElementById(id)) {
        js = d.createElement(s);
        js.id = id;
        js.src = p + "://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js,fjs);
      }
    }
    (document,"script","twitter-wjs");



