.row
  .span7
    %script{charset: "utf-8", src: "//api-maps.yandex.ru/services/constructor/1.0/js/?sid=8O7f6aPmuEiiYTscfZ0LyGKRfsz6Gesq&width=670&height=400", type: "text/javascript"}
  .span4
    %h3 Санаторно-оздоровительный комплекс "Чайка"
    %ul
      %li КОМФОРТНЫЕ 2-Х, 3-Х МЕСТНЫЕ НОМЕРА СО ВСЕМИ УДОБСТВАМИ
      %li СОВРЕМЕННЫЕ ОЗДОРОВИТЕЛЬНЫЕ ПРОЦЕДУРЫ
      %li 3-Х РАЗОВОЕ ПИТАНИЕ

    %ul
      %li НАСТОЛЬНЫЕ ТЕННИC
      %li БИЛЬЯРД
      %li ВИДЕОЗАЛ
      %li СПОРТЗАЛ
      %li НАСТОЯЩАЯ РУССКАЯ БАНЯ
.row
  .span12
    %h3
      ДОСТАВКА УЧАСТНИКОВ ДО МЕСТА ПРОВЕДЕНИЯ МЕРОПРИЯТИЯ И ОБРАТНО ОРГАНИЗУЕТ
      %span
        %a{ href: "mpol.ulgov.ru" } ДЕПАРТАМЕНТ МОЛОДЁЖНОЙ ПОЛИТИКИ.
      ПРОЕЗД БЕСПЛАТНЫЙ. Информация о месте и времени организованного отъезда участников будет размещена на этом сайте позже.
.row
  .span5
    %img.img-polaroid{ src: "http://ulmic.ru/images/plg_imagesized/2765-chayka.jpg" }
  .span5
    %img.img-polaroid{ src: "http://ulmic.ru/images/plg_imagesized/2765-chaika-2.jpg" }

.row
  .span5
    %img.img-polaroid{ src: "http://ulmic.ru/images/plg_imagesized/2765-chaika-1.jpg" }
  .span5
    %img.img-polaroid{ src: "http://ulmic.ru/images/plg_imagesized/2765-phoca_thumb_l_1211634013.jpg" }
= render 'layouts/shared/twitter_twit_button'
