%h1 Результаты отбора
%hr
%table.table.table-striped
  %thead
    %td ФИО
    %td Учебное заведение
    %td
  - @members.each do |member|
    %tr
      #FIXME
      %td= member.decorate.full_name
      %td= member.school
      %td
        = member.decorate.state_label
